<footer class="page-footer builds cardColor z-depth-1">
  <div class="container">
	<div class="row">
	  <div class="col l6 s12">
		<h5 class="accent">Hardcore Porn</h5>
		<p>Best Porn Videos Here</p>
	  </div>
	  <div class="col l4 offset-l2 s12">
		<h5>Links</h5>
		<ul>
		  <li><a href="https://github.com/anonymous5197">Github</a></li>
		</ul>
	  </div>
	</div>
  </div>
  <div class="footer-copyright">
	<div class="container accent">
	  © 2019 | HardCore Porn
	  <a class="right" href="">Contact Me</a>
	</div>
  </div>
</footer>
