<footer class="page-footer builds cardColor z-depth-1">
  <div class="container">
	<div class="row">
	  <div class="col l6 s12">
		<h5 class="accent">Atom-OS Project</h5>
		<p>Atom-OS Is Based On AOSP/CAF With Cherry-picked -m "Commits"</p>
	  </div>
	  <div class="col l4 offset-l2 s12">
		<h5>Links</h5>
		<ul>
		  <li><a href="https://t.me/AtomOffical">Telegram Group</a></li>
		  <li><a href="https://t.me/AtomOSUpdates">Telegram Channel</a></li>
		  <li><a href="https://github.com/Atom-OS-project">Github</a></li>
		</ul>
	  </div>
	</div>
  </div>
  <div class="footer-copyright">
	<div class="container accent">
	  © 2019 | Atom-OS Project
	  <a class="right" href="https://t.me/thephotogenicbug">Contact Me</a>
	</div>
  </div>
</footer>
